
body {
  padding-top: 50px;
  background-color: whitesmoke !important;
  color: white;
}
.container{

  background-image: url(https://thumbs.gfycat.com/DisgustingEverlastingDogfish-small.gif);
  background-size: auto;

  
}

.h2, h2 {
  font-size: 30px;
  color: whitesmoke;
}
.navbar-inverse {
  background-color: #7597bf !important;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.content-area {
  margin: 30px;
}
.input-area {
  margin: 25px;
}
.task-text {
  display: flex;
  align-items: center;
  height: 40px;
}
.hidden {
  display: none;
}
.delete-icon-area {
  display: flex;
  align-items: center;
  height: 40px;
}
.delete-icon {
  color: red;
}
.complete {
  text-decoration: line-through;
}